* {
	all: unset;
	font-size: 14px;
	font-family:
		FiraCode Nerd Font Mono,
		Noto Sans Mono CJK JP,
		Noto Sans Mono CJK HK,
		Noto Sans Mono CJK KR,
		Noto Sans Mono CJK SC,
		Noto Sans Mono CJK TC;
	transition: 200ms;
}

trough highlight {
	background: rgb(205, 214, 244);
}

scale trough {
	margin: 0rem 1rem;
	background-color: rgb(49, 50, 68);
	min-height: 8px;
	min-width: 70px;
}

slider {
	background-color: rgb(137, 180, 250);
}

.floating-notifications.background .notification-row .notification-background {
	box-shadow:
		0 0 8px 0 rgba(0, 0, 0, 0.8),
		inset 0 0 0 1px rgb(49, 50, 68);
	border-radius: 12.6px;
	margin: 18px;
	background-color: rgb(30, 30, 46);
	color: rgb(205, 214, 244);
	padding: 0;
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification {
	padding: 7px;
	border-radius: 12.6px;
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification.critical {
	box-shadow: inset 0 0 7px 0 rgb(243, 139, 168);
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification
	.notification-content {
	margin: 7px;
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification
	.notification-content
	.summary {
	color: rgb(205, 214, 244);
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification
	.notification-content
	.time {
	color: rgb(186, 194, 222);
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification
	.notification-content
	.body {
	color: rgb(205, 214, 244);
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification
	> *:last-child
	> * {
	min-height: 3.4em;
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification
	> *:last-child
	> *
	.notification-action {
	border-radius: 7px;
	color: rgb(205, 214, 244);
	background-color: rgb(49, 50, 68);
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	margin: 7px;
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification
	> *:last-child
	> *
	.notification-action:hover {
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	background-color: rgb(49, 50, 68);
	color: rgb(205, 214, 244);
}

.floating-notifications.background
	.notification-row
	.notification-background
	.notification
	> *:last-child
	> *
	.notification-action:active {
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	background-color: rgb(116, 199, 236);
	color: rgb(205, 214, 244);
}

.floating-notifications.background
	.notification-row
	.notification-background
	.close-button {
	margin: 7px;
	padding: 2px;
	border-radius: 6.3px;
	color: rgb(30, 30, 46);
	background-color: rgb(243, 139, 168);
}

.floating-notifications.background
	.notification-row
	.notification-background
	.close-button:hover {
	background-color: rgb(235, 160, 172);
	color: rgb(30, 30, 46);
}

.floating-notifications.background
	.notification-row
	.notification-background
	.close-button:active {
	background-color: rgb(243, 139, 168);
	color: rgb(30, 30, 46);
}

.control-center {
	box-shadow:
		0 0 8px 0 rgba(0, 0, 0, 0.8),
		inset 0 0 0 1px rgb(49, 50, 68);
	border-radius: 12.6px;
	margin: 18px;
	background-color: rgb(30, 30, 46);
	color: rgb(205, 214, 244);
	padding: 14px;
}

.control-center .widget-title > label {
	color: rgb(205, 214, 244);
	font-size: 1.3em;
}

.control-center .widget-title button {
	border-radius: 7px;
	color: rgb(205, 214, 244);
	background-color: rgb(49, 50, 68);
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	padding: 8px;
}

.control-center .widget-title button:hover {
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	background-color: rgb(88, 91, 112);
	color: rgb(205, 214, 244);
}

.control-center .widget-title button:active {
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	background-color: rgb(116, 199, 236);
	color: rgb(30, 30, 46);
}

.control-center .notification-row .notification-background {
	border-radius: 7px;
	color: rgb(205, 214, 244);
	background-color: rgb(49, 50, 68);
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
	padding: 7px;
	border-radius: 7px;
}

.control-center
	.notification-row
	.notification-background
	.notification.critical {
	box-shadow: inset 0 0 7px 0 rgb(243, 139, 168);
}

.control-center
	.notification-row
	.notification-background
	.notification
	.notification-content {
	margin: 7px;
}

.control-center
	.notification-row
	.notification-background
	.notification
	.notification-content
	.summary {
	color: rgb(205, 214, 244);
}

.control-center
	.notification-row
	.notification-background
	.notification
	.notification-content
	.time {
	color: rgb(186, 194, 222);
}

.control-center
	.notification-row
	.notification-background
	.notification
	.notification-content
	.body {
	color: rgb(205, 214, 244);
}

.control-center
	.notification-row
	.notification-background
	.notification
	> *:last-child
	> * {
	min-height: 3.4em;
}

.control-center
	.notification-row
	.notification-background
	.notification
	> *:last-child
	> *
	.notification-action {
	border-radius: 7px;
	color: rgb(205, 214, 244);
	background-color: rgb(17, 17, 27);
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	margin: 7px;
}

.control-center
	.notification-row
	.notification-background
	.notification
	> *:last-child
	> *
	.notification-action:hover {
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	background-color: rgb(49, 50, 68);
	color: rgb(205, 214, 244);
}

.control-center
	.notification-row
	.notification-background
	.notification
	> *:last-child
	> *
	.notification-action:active {
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	background-color: rgb(116, 199, 236);
	color: rgb(205, 214, 244);
}

.control-center .notification-row .notification-background .close-button {
	margin: 7px;
	padding: 2px;
	border-radius: 6.3px;
	color: rgb(30, 30, 46);
	background-color: rgb(235, 160, 172);
}

.close-button {
	border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
	background-color: rgb(243, 139, 168);
	color: rgb(30, 30, 46);
}

.control-center
	.notification-row
	.notification-background
	.close-button:active {
	background-color: rgb(243, 139, 168);
	color: rgb(30, 30, 46);
}

.control-center .notification-row .notification-background:hover {
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	background-color: rgb(127, 132, 156);
	color: rgb(205, 214, 244);
}

.control-center .notification-row .notification-background:active {
	box-shadow: inset 0 0 0 1px rgb(69, 71, 90);
	background-color: rgb(116, 199, 236);
	color: rgb(205, 214, 244);
}

.notification.critical progress {
	background-color: rgb(243, 139, 168);
}

.notification.low progress,
.notification.normal progress {
	background-color: rgb(137, 180, 250);
}

.control-center-dnd {
	margin-top: 5px;
	border-radius: 8px;
	background: rgb(49, 50, 68);
	border: 1px solid rgb(69, 71, 90);
	box-shadow: none;
}

.control-center-dnd:checked {
	background: rgb(49, 50, 68);
}

.control-center-dnd slider {
	background: rgb(69, 71, 90);
	border-radius: 8px;
}

.widget-dnd {
	margin: 0px;
	font-size: 1.1rem;
}

.widget-dnd > switch {
	font-size: initial;
	border-radius: 8px;
	background: rgb(49, 50, 68);
	border: 1px solid rgb(69, 71, 90);
	box-shadow: none;
}

.widget-dnd > switch:checked {
	background: rgb(49, 50, 68);
}

.widget-dnd > switch slider {
	background: rgb(69, 71, 90);
	border-radius: 8px;
	border: 1px solid rgb(108, 112, 134);
}

.widget-mpris .widget-mpris-player {
	background: rgb(49, 50, 68);
	padding: 7px;
}

.widget-mpris .widget-mpris-title {
	font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
	font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
	font-size: 3rem;
	padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
	color: rgb(243, 139, 168);
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
	background: rgb(49, 50, 68);
}

.control-center .widget-label > label {
	color: rgb(205, 214, 244);
	font-size: 2rem;
}

.widget-buttons-grid {
	padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
	font-size: 2.5rem;
}

.widget-volume {
	padding-top: 1rem;
}

.widget-volume label {
	font-size: 1.5rem;
	color: rgb(116, 199, 236);
}

.widget-volume trough highlight {
	background: rgb(116, 199, 236);
}

.widget-backlight trough highlight {
	background: rgb(249, 226, 175);
}

.widget-backlight label {
	font-size: 1.5rem;
	color: rgb(249, 226, 175);
}

.widget-backlight .KB {
	padding-bottom: 1rem;
}

.image {
	padding-right: 0.5rem;
}
