[Unit]
Description=Distrobox container - %i
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists %i
ExecStart=/usr/bin/distrobox enter --name %i
ExecStop=/usr/bin/distrobox stop %i
RemainAfterExit=yes
