[submodule "stow/trant/.oh-my-zsh"]
	path = stow/trant/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "stow/trant/.zsh.d/custom/plugins/zsh-syntax-highlighting"]
	path = stow/trant/.zsh.d/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "stow/trant/.zsh.d/custom/plugins/zsh-autosuggestions"]
	path = stow/trant/.zsh.d/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "stow/trantbox-desktop/.local/share/distrobox/home/trantbox-desktop/.tmux/plugins/tpm"]
	path = stow/trantbox-desktop/.local/share/distrobox/home/trantbox-desktop/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
