[Desktop Entry]
Name=Easy Effects
GenericName=Audio Effects
Comment=Audio effects for PipeWire applications.
TryExec=/usr/bin/easyeffects
Exec=/usr/bin/easyeffects --gapplication-service --load-preset LoudnessEqualizer
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=false
