{{- $email := promptStringOnce . "email" "Email address" -}}

sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
dotfilesDir = {{ joinPath .chezmoi.sourceDir ".." | quote }}
email = {{ $email | quote }}

# vim: set ft=toml :
