[Unit]
Description=Fast, IPC-controlled wallpaper utility for Hyprland.
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hyprpaper/
PartOf=graphical-session.target
PartOf=trantbox@services.target
Requires=graphical-session.target
Requires=trantbox@services.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=simple
ExecCondition=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/sh -c '[ -f "/usr/bin/hyprpaper" ]'
ExecStart=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/hyprpaper
Slice=session.slice
Restart=on-failure
