[Unit]
Description=Profile-sync-daemon
Documentation=man:psd(1) man:profile-sync-daemon(1)
Documentation=https://wiki.archlinux.org/index.php/Profile-sync-daemon
Requires=trantbox-services.service
Wants=psd-resync.service
RequiresMountsFor=/home/
After=winbindd.service
After=trantbox-services.service
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/usr/bin/distrobox enter --name trantbox-services -- sh -c '[ -f "/usr/bin/profile-sync-daemon" ]'
ExecStart=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/profile-sync-daemon startup
ExecStop=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/profile-sync-daemon unsync
Environment=LAUNCHED_BY_SYSTEMD=1
