[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target
Requires=trantbox-services.service
After=graphical-session.target
After=trantbox-services.service
Requisite=graphical-session.target
ConditionPathExists=/usr/bin/distrobox

[Service]
ExecCondition=/usr/bin/distrobox enter --name trantbox-services -- sh -c '[ -f "/usr/bin/waybar" ]'
ExecStart=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/waybar
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure
