[Desktop Entry]
Name=Playerctld
TryExec=/usr/bin/distrobox
Exec=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/playerctld
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=false
