[trantbox]
start_now=true
entry=true
pre_init_hooks="export SHELL=/usr/bin/fish"
volume="trantbox-pacman_cache:/var/cache/pacman/pkg:rw"
{{ if stat "/etc/pacman.d/mirrorlist" }}
volume="/etc/pacman.d/mirrorlist:/etc/pacman.d/mirrorlist:ro"
{{ end }}

[trantbox-desktop]
include=trantbox
nvidia=true
home={{ joinPath .chezmoi.homeDir "distrobox" "trantbox-desktop" | quote }}
unshare_groups=true
unshare_ipc=true
unshare_netns=true
additional_flags="--network host"
additional_packages="bear blender brave-bin code discord dotnet-sdk"
additional_packages="drawio-desktop fd firefox gcc gimp git go godot lazydocker"
additional_packages="libfdk-aac libreoffice-fresh libresprite lmms"
additional_packages="luarocks make neovide neovim-nightly-bin nodejs npm"
additional_packages="obs-studio opencode python3 qt5-wayland ripgrep rust"
additional_packages="shotcut thunderbird torbrowser-launcher tree-sitter-cli"
additional_packages="unixodbc webcord which zellij"
exported_apps="blender brave code-oss obs discord"
exported_apps="drawio firefox gimp webcord"
exported_apps="libreoffice libresprite lmms neovide godot"
exported_apps="thunderbird shotcut torbrowser-launcher"

[trantbox-games]
include=trantbox
nvidia=true
home={{ joinPath .chezmoi.homeDir "distrobox" "trantbox-games" | quote }}
unshare_groups=true
unshare_netns=true
additional_flags="--network host"
additional_flags="--env-file {{ .chezmoi.homeDir }}/.config/distrobox/nvidia.env"
additional_flags="--env-file {{ .chezmoi.homeDir }}/.config/distrobox/trantbox-games.env"
additional_packages="extremetuxracer faugus-launcher joyutils steam"
additional_packages="mangohud wine-mono libcanberra libmanette"
exported_apps="faugus-launcher steam etr"

[trantbox-services]
include=trantbox
home={{ joinPath .chezmoi.homeDir "distrobox" "trantbox-services" | quote }}
unshare_devsys=true
unshare_groups=true
unshare_ipc=true
unshare_netns=true
additional_packages="calf cliphist easyeffects fcitx5 fcitx5-configtool fcitx5-unikey"
additional_packages="lsp-plugins mpv"
init_hooks="ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/rofi"
exported_apps="easyeffects fcitx5-configtool mpv"
exported_bins="/usr/bin/cliphist"

[trantbox-utils]
include=trantbox
home={{ joinPath .chezmoi.homeDir "distrobox" "trantbox-utils" | quote }}
unshare_devsys=true
unshare_groups=true
unshare_ipc=true
unshare_netns=true
additional_packages="catimg fd git gopass pwvucontrol ripgrep rofimoji"
additional_packages="trash-cli unrar unzip yt-dlp zip"
init_hooks="ln -sf /usr/bin/distrobox-host-exec /usr/local/bin/rofi"
exported_apps="pwvucontrol"
exported_bins="/usr/bin/catimg /usr/bin/fd"
exported_bins="/usr/bin/gopass /usr/bin/rg /usr/bin/rofimoji"
exported_bins="/usr/bin/trash /usr/bin/trash-empty /usr/bin/trash-list"
exported_bins="/usr/bin/trash-restore /usr/bin/trash-rm"
exported_bins="/usr/bin/unrar /usr/bin/unzip /usr/bin/zip"
exported_bins="/usr/bin/wl-copy /usr/bin/wl-paste"

# vim: set ft=dosini :
