[Unit]
Description=TranThangBin's games container
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists trantbox-games
ExecStart=/usr/bin/distrobox enter trantbox-games
ExecStop=/usr/bin/distrobox stop --yes trantbox-games
RemainAfterExit=yes
