[Unit]
Description=TranThangBin's distrobox containers
Wants=trantbox-desktop.service trantbox-services.service trantbox-games.service trantbox-dev.service
RefuseManualStart=yes
StopWhenUnneeded=yes

[Install]
WantedBy=default.target
