[Unit]
Description=TranThangBin's dev container
PartOf=trantbox.target

[Service]
Type=oneshot
ExecStart=/usr/bin/podman container start trantbox-dev
ExecStop=/usr/bin/podman container stop trantbox-dev
RemainAfterExit=yes
