[Unit]
Description=TranThangBin's services container
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox
Conflicts=shutdown.target

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists trantbox-services
ExecStart=/usr/bin/distrobox enter trantbox-services
ExecStop=/usr/bin/distrobox stop --yes trantbox-services
RemainAfterExit=yes
