[Unit]
Description=TranThangBin's services container
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/podman
Conflicts=shutdown.target

[Service]
Type=simple
ExecCondition=/usr/bin/podman container exists trantbox-services
ExecStart=/usr/bin/podman container start trantbox-services --attach --sig-proxy
ExecStop=/usr/bin/podman container stop trantbox-services
