[Unit]
Description=TranThangBin's desktop container
PartOf=trantbox.target

[Service]
Type=oneshot
ExecStart=/usr/bin/podman container start trantbox-desktop
ExecStop=/usr/bin/podman container stop trantbox-desktop
RemainAfterExit=yes
