[Unit]
Description=TranThangBin's games container
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists trantbox-games
ExecStart=/usr/bin/distrobox enter trantbox-games
RemainAfterExit=yes
