[Unit]
Description=TranThangBin's dev container
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists trantbox-dev
ExecStart=/usr/bin/distrobox enter trantbox-dev
ExecStop=/usr/bin/distrobox stop --yes trantbox-dev
RemainAfterExit=yes
