[Unit]
Description=TranThangBin's desktop container
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists trantbox-desktop
ExecStart=/usr/bin/distrobox enter trantbox-desktop
RemainAfterExit=yes
