[Unit]
Description=TranThangBin's desktop container
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists trantbox-desktop
ExecStart=/usr/bin/distrobox enter trantbox-desktop
ExecStop=/usr/bin/distrobox stop --yes trantbox-desktop
RemainAfterExit=yes
