[Unit]
Description=TranThangBin's services container
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists trantbox-services
ExecStart=/usr/bin/distrobox enter trantbox-services
RemainAfterExit=yes
