[Unit]
Description=TranThangBin's dev container
ConditionPathExists=/usr/bin/podman
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=oneshot
ExecCondition=/usr/bin/podman container exists trantbox-dev
ExecStart=/usr/bin/distrobox enter trantbox-dev
RemainAfterExit=yes
