[Unit]
Description=TranThangBin's games container
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/podman
Conflicts=shutdown.target

[Service]
Type=simple
ExecCondition=/usr/bin/podman container exists trantbox-games
ExecStart=/usr/bin/podman container start trantbox-games --attach --sig-proxy
ExecStop=/usr/bin/podman container stop trantbox-games
