[Unit]
Description=Fast, IPC-controlled wallpaper utility for Hyprland.
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hyprpaper/
PartOf=graphical-session.target
Requires=graphical-session.target
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

Requires=distrobox-container@%i.service
PartOf=distrobox-container@%i.service
Conflicts=hyprpaper.service

[Service]
Type=simple
ExecCondition=distrobox-enter --no-workdir %i -- sh -c 'command -v hyprpaper &>/dev/null'
ExecStart=distrobox-enter --no-workdir --name %i -- hyprpaper
Slice=session.slice
Restart=on-failure
