# Reference from https://github.com/nix-community/home-manager/blob/release-25.05/modules/services/easyeffects.nix
[Unit]
Description=Easyeffects daemon
PartOf=graphical-session.target
After=graphical-session.target

Requires=distrobox-container@%i.service
PartOf=distrobox-container@%i.service
Conflicts=easyeffects.service

[Service]
ExecCondition=distrobox-enter --no-workdir %i -- sh -c 'command -v easyeffects &>/dev/null'
ExecStart=distrobox-enter --no-workdir %i -- easyeffects --hide-window --service-mode
ExecStop=distrobox-enter --no-workdir %i -- easyeffects --quit
KillMode=mixed
Restart=on-failure
RestartSec=5
TimeoutStopSec=10
