# Reference from https://github.com/nix-community/home-manager/blob/release-25.05/modules/services/swayidle.nix
[Unit]
Description=Idle manager for Wayland
Documentation=man:swayidle(1)
ConditionEnvironment=WAYLAND_DISPLAY
PartOf=graphical-session.target
After=graphical-session.target

Requires=distrobox-container@%i.service
PartOf=distrobox-container@%i.service
Conflicts=swayidle.service

[Service]
Type=simple
Restart=always
ExecCondition=distrobox-enter --no-workdir %i -- sh -c 'command -v swayidle &>/dev/null'
ExecStart=distrobox-enter --no-workdir %i -- swayidle -w

Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/run/host/var/run/dbus/system_bus_socket
