# Reference from https://github.com/nix-community/home-manager/blob/release-25.05/modules/services/network-manager-applet.nix
[Unit]
Description=Network Manager applet
After=graphical-session.target
PartOf=graphical-session.target

Requires=distrobox-container@%i.service
PartOf=distrobox-container@%i.service
Conflicts=network-manager-applet.service

[Service]
ExecCondition=distrobox-enter --no-workdir %i -- sh -c 'command -v nm-applet >/dev/null 2>&1'
ExecStart=distrobox-enter --no-workdir %i -- nm-applet

Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/run/host/var/run/dbus/system_bus_socket
