# Reference from https://github.com/nix-community/home-manager/blob/release-25.05/modules/services/swww.nix
[Unit]
ConditionEnvironment=WAYLAND_DISPLAY
Description=awww-daemon
After=graphical-session.target
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/distrobox

Requires=distrobox-container@trantbox-services.service
PartOf=distrobox-container@trantbox-services.service
Conflicts=awww.service

[Service]
ExecCondition=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/sh -c '[ -f "/usr/bin/awww-daemon" ]'
ExecStart=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/awww-daemon
Restart=always
RestartSec=10
