# Reference from https://github.com/nix-community/home-manager/blob/release-25.05/modules/i18n/input-method/fcitx5.nix
[Unit]
Description=Fcitx5 input method editor
PartOf=graphical-session.target
After=graphical-session.target

Requires=distrobox-container@trantbox-services.service
PartOf=distrobox-container@trantbox-services.service
Conflicts=fcitx5-daemon.service

[Service]
Type=dbus
BusName=org.fcitx.Fcitx5
ExecCondition=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/sh -c '[ -f "/usr/bin/fcitx5" ]'
ExecStart=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/fcitx5
Restart=on-failure
