[Unit]
Description=Swaync notification daemon
Documentation=https://github.com/ErikReider/SwayNotificationCenter
PartOf=graphical-session.target
After=graphical-session.target
# ConditionEnvironment requires systemd v247 to work correctly
ConditionEnvironment=WAYLAND_DISPLAY

ConditionPathExists=/usr/bin/distrobox
Requires=distrobox-container@trantbox-services.service
PartOf=distrobox-container@trantbox-services.service
Conflicts=swaync.service

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecCondition=distrobox-enter trantbox-services -- sh -c 'command -v swaync &>/dev/null'
ExecCondition=distrobox-enter trantbox-services -- sh -c 'command -v swaync-client &>/dev/null'
ExecStart=distrobox-enter trantbox-services -- swaync
ExecReload=distrobox-enter trantbox-services -- swaync-client --reload-config ; /usr/bin/swaync-client --reload-css
Restart=on-failure
