# Reference from https://github.com/nix-community/home-manager/blob/release-25.05/modules/services/cliphist.nix
[Unit]
Description=Clipboard management daemon
PartOf=graphical-session.target
After=graphical-session.target

Requires=distrobox-container@trantbox-services.service
PartOf=distrobox-container@trantbox-services.service
Conflicts=cliphist.service

[Service]
Type=simple
ExecCondition=distrobox-enter --no-workdir trantbox-services -- sh -c 'command -v wl-paste &>/dev/null'
ExecCondition=distrobox-enter --no-workdir trantbox-services -- sh -c 'command -v cliphist &>/dev/null'
ExecStart=distrobox-enter --no-workdir trantbox-services -- wl-paste --watch cliphist store
