[Desktop Entry]
Name=SwayOSD
GenericName=On Screen Display
Comment=A OSD window for common actions like volume and capslock.
TryExec=/usr/bin/swayosd-server
Exec=/usr/bin/swayosd-server
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=false
OnlyShowIn=Hyprland;Sway
