[Unit]
Description=Swaync notification daemon
Documentation=https://github.com/ErikReider/SwayNotificationCenter
PartOf=graphical-session.target
PartOf=trantbox@services.target
After=graphical-session.target
# ConditionEnvironment requires systemd v247 to work correctly
ConditionEnvironment=WAYLAND_DISPLAY
ConditionPathExists=/usr/bin/distrobox

[Service]
Type=dbus
BusName=org.freedesktop.Notifications
ExecCondition=/usr/bin/distrobox enter --name trantbox-services -- sh -c '[ -f "/usr/bin/swaync" ]'
ExecCondition=/usr/bin/distrobox enter --name trantbox-services -- sh -c '[ -f "/usr/bin/swaync-client" ]'
ExecStart=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/swaync
ExecReload=/usr/bin/distrobox enter --name trantbox-services -- /usr/bin/swaync-client --reload-config ; /usr/bin/swaync-client --reload-css
Restart=on-failure
