[Unit]
Description=TranThangBin's trantbox-%i container
PartOf=trantbox.target
Requires=distrobox-container@trantbox-%i.service
BindsTo=distrobox-container@trantbox-%i.service
