[Unit]
Description=Highly customizable Wayland bar for Sway and Wlroots based compositors
Documentation=https://github.com/Alexays/Waybar/wiki/
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

Requires=distrobox-container@%i.service
PartOf=distrobox-container@%i.service
Conflicts=waybar.service

[Service]
ExecCondition=distrobox-enter --no-workdir %i -- sh -c 'command -v waybar >/dev/null 2>&1'
ExecStart=distrobox-enter --no-workdir %i -- waybar
ExecReload=kill -SIGUSR2 $MAINPID
Restart=on-failure

Environment=DBUS_SYSTEM_BUS_ADDRESS=unix:path=/run/host/var/run/dbus/system_bus_socket
Environment=XDG_DATA_DIRS=$XDG_DATA_DIRS:%D
