[Unit]
Description=Distrobox container - %i
ConditionPathExists=/usr/bin/distrobox-enter

[Service]
Type=oneshot
ExecStart=/usr/bin/distrobox-enter --no-workdir --no-tty %i
RemainAfterExit=true
