# Reference from https://github.com/nix-community/home-manager/blob/release-25.05/modules/services/swww.nix
[Unit]
ConditionEnvironment=WAYLAND_DISPLAY
Description=awww-daemon
After=graphical-session.target
PartOf=graphical-session.target
ConditionPathExists=/usr/bin/distrobox

Requires=distrobox-container@%i.service
PartOf=distrobox-container@%i.service
Conflicts=awww.service

[Service]
ExecCondition=distrobox-enter --no-workdir --no-tty %i -- sh -c 'command -v awww-daemon >/dev/null 2>&1'
ExecStart=distrobox-enter --no-workdir --no-tty %i -- awww-daemon
Restart=always
RestartSec=10
